/*@import "tailwindcss";*/
@import '@fontsource/lato/400.css';
@import '@fontsource/lato/700.css';
@import '@fontsource/playfair-display/700.css';
@import '@fontsource/dancing-script/400.css';
@import '@fontsource/great-vibes/400.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-sans text-gray-700;
}